<!DOCTYPE html>
<html lang="en" ng-app="gymResult">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
   <link href="css/modern-business.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="css/style.css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body controller = "GymDetailsController">

    <!-- Navigation -->
    <div my-navbardirective></div>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{GymDetails.Name}}
                                    </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-5">
                <h3>Description</h3>
                <p>{{GymDetails.GymDescription}}</p>
                <h3>Gym Aminities</h3>
                <ul ng-repeat = "aminity in GymDetails.Aminities">
                    <li>{{aminity}}</li>
                </ul>
            </div>



            <div class="col-md-7">
                <img class="img-responsive detailsimage" ng-src="{{defaultImage}}"  alt=""><br>
                <div class="row">
            <div ng-repeat="gymimages in GymDetails.GymImages">
            <div class="col-sm-3 col-xs-6" id="gymimage{{$index}}">
                <a href="" ng-click="ShowImage(gymimages.Url)">
                    <img class="img-responsive portfolio-item" ng-src="{{gymimages.Url}}" alt="">
                </a>
            </div>
            </div>

        </div>
            </div>

            

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
     <script src="js/angular.min.js"></script>
     <script src="js/angular-route.js"></script>
    <script src="js/Scripts/Common/app.js"></script>
    <script src="js/Scripts/Common/Navbardirective.js"></script>
    <script src="js/Scripts/GymDetails/app.js"></script>
    <script src="js/Scripts/GymDetails/controller.js"></script>

</body>

</html>
